* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 6rem;
}

#Name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
}

#LFJob {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem 0 .5rem 0;
}

.profilDesc {
    font-size: 1.2rem;
}

bold {
    font-weight: 600;
    color: #00eaff;
}

#infoSection {
    margin: 1rem 0;
    display: flex;
    gap: 15px;
}

.tagInfo {
    display: flex;
    align-items: CENTER;
    border: black 2px solid;
    border-radius: 7.5px;
    width: auto;
    padding: 5px;

}

.icon {
    width: 28px;
    height: auto;
}

p {
    margin: 5px;
    font-size: .9rem;

}