* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    overflow-x: hidden;
}

p,h1,h2 {
    overflow-y: hidden;
}

#welcome {
    background-color: #1d1d1d;
    height: 90vh;
    width: 80vw;
    padding: 5vh 10vw;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h1 {
    color: #eeeeee;
    font-size: 3rem;
}

h1 strong {
    color: #eaea30;
}

img#imgeBitEmojie {
    width: auto;
    height: 250px;
}

#slideStrength {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 1vw;
}


.slidePair {
    position: relative;

    background-color: #1d1d1d;
    height: 90vh;
    width: 80vw;
    padding: 5vh 10vw;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.slideOdd {
    position: relative;

    background-color: #2d2d2d;
    height: 90vh;
    width: 80vw;
    padding: 5vh 10vw;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#slideStrength {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 1vw;
}

.title {
    text-decoration: underline;
    border: none;
    width: auto;
    height: auto;

    text-align: center;
}

#strengths  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20vh;
}

.ligneFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20vh;
}

.card {
    padding: 1.5em;

    width: 20vw;
    height: 13vh;

    border-radius: 25px;
    text-align: center;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 1vw;
}

#strength1 {
    background: linear-gradient(59deg, rgb(64, 255, 0), rgb(120, 248, 100));
}

#strength2 {
    background: linear-gradient(59deg, rgb(255, 204, 0), rgb(248, 223, 100));
}


#strength3 {
    background: linear-gradient(59deg, rgb(255, 77, 0), rgb(248, 135, 100));
}

#strength4 {
    background: linear-gradient(59deg, rgb(0, 214, 255), rgb(100, 223, 248));
}

#weakness  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20vh;
}

#slideWeakness {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 1vw;
}

#weakness1 {
    background: linear-gradient(59deg, rgb(64, 255, 0), rgb(120, 248, 100));
}

#weakness2 {
    background: linear-gradient(59deg, rgb(255, 204, 0), rgb(248, 223, 100));
}

#weakness3 {
    background: linear-gradient(59deg, rgb(255, 77, 0), rgb(248, 135, 100));
}

#weakness4 {
    background: linear-gradient(59deg, rgb(0, 214, 255), rgb(100, 223, 248));
}

#slideProject {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 1vw;
}

.projectCard {
    position: relative;
    height: 300px;
    width: 400px;
    border: #eaea30 5px solid;
    border-radius: 25px;
    overflow: hidden;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 0.5rem;
}

a {
    overflow: hidden;
    height: 310px;
    width: 410px;
}

.projectCard h2 {
    font-size: 2rem;
    margin-top: 15px;
    color: #eeeeee;
    text-align: center;
    height: 2.5rem;

}

.projectCard img {
    position: relative;
    height: 200px;
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    object-fit: cover;
object-position: center;
}

#listLangages {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 120px;
    display: flex;
    flex-direction: row-reverse;

    margin: 0;
    padding: 0;
    border: 0;
}

.iconLangage {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #1d1d1d;
    opacity: 0.3;
    transition: 0.5s;
}

.iconLangage:hover {
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1d1d1d;
    opacity: 1;
}

.iconLangage img {
    width: 100%;
    height: 100%;
}