a {
    text-decoration: inherit;
    color: inherit;
}

#sectionExperience {
    margin: 0;
}

#experience {
    position: relative;
    display: grid;
    grid-template-columns: auto 5px auto;
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
    min-height: 100vh;
    height: auto;
}

#arrow {
    position: relative;
    height: 100%;
    background: black;
    grid-row: 1 / -1;
    grid-column: 2 / 2;
    width: 100%;
    border-radius: 3px;
}

.listCards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.cardExperiences {
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    height: 100%;
    overflow: auto;
    /*scrollbar-width: thin;*/

    scrollbar-width: none;
    /*overflow: hidden;*/
    /*overflow-y: scroll;*/
}

.linkChrono {
    height: 2px;
    width: 100px;
    background: black;

}

.cardExperiences__title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    /*margin: 0;*/
    margin-bottom: 1em;
}

.cardExperiences__paragraphe {
    font-size: 1em;
    text-align: center;
    margin: 0;

}

#card2XP {
    /*background-color: red;*/
    grid-row: 1 / 2;
    /*grid-column: 3/3;*/
}

#card2XP {
    /*background-color: red;*/
    grid-row: 2 / 3;
    grid-column: 3/3;
}

#card3XP {
    grid-row: 3 / 4;
    /*grid-column: 3/3;*/
}

#card4XP {
    grid-row: 4 / 5;
    grid-column: 3/3;
}

.center {
    text-align: center;
}

.h3FontSize {
    font-size: 1.5em;
    font-weight: bold;
}

.cardExperiences::-webkit-scrollbar {
    width: 5px;
}

.cardExperiences::-webkit-scrollbar:horizontal {
    height: 12px;
}


/*.cardExperiences::-webkit-scrollbar-track {*/
/*    background-color: red; /
/*}*/


/*.cardExperiences::-webkit-scrollbar-thumb {*/
/*    background-color: blue;*/
/*    border-radius: 6px;*/
/*}*/


/*.cardExperiences::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #555;*/
/*}*/
